body {
  background: #00a651;
  width:100%;
}


input{
   text-align:center;
}


#gamebuttondiv{
	display:block;
	position:absolute;
	z-index: 100;
	top:50%;
	left:35%;
	width:700px;
}

.gamebutton{
	display:inline-block;
	width: 150px;
	height:75px;
	border-radius: 20%;
	border:5px solid gold;
	background-color: #a07005;
	color:white;
	font-size: 36px;
	margin:0 20px;

}









/*********CARDS*************/
.cardBack{
	float:left;
	width:100px;
	height:175px;
	border:1px solid;
	border-radius: 10%;
	box-shadow: 2px 2px;
	background: 
	linear-gradient(63deg, #999 23%, transparent 23%) 7px 0, 
	linear-gradient(63deg, transparent 74%, #999 78%), 
	linear-gradient(63deg, transparent 34%, #999 38%, #999 58%, transparent 62%), 
	#444;
	background-size: 16px 48px;
}


.suitHearts{
	position: relative;
	float:left;
	width:100px;
	height:175px;
	border:1px solid;
	font-family: sans-serif;
	font-size: 82px;
	background-color: #F6F6F6;
	border-radius: 10%;
	box-shadow: 2px 2px

}
.suitHearts:before, .suitHearts:after {
  content: "♥";
  color: #ff0000;
}

.suitDiamonds{
	position: relative;
	float:left;
	width:100px;
	height:175px;
	border:1px solid;
	font-family: sans-serif;
	font-size: 82px;
	background-color: #F6F6F6;
	border-radius: 10%;
	box-shadow: 2px 2px
}

.suitDiamonds:before, .suitDiamonds:after {
  content: "♦";
  color: #ff0000;
}

.suitClubs{
	position: relative;
	float:left;
	width:100px;
	height:175px;
	border:1px solid;
	font-family: sans-serif;
	font-size: 82px;
	background-color: #F6F6F6;
	border-radius: 10%;
	box-shadow: 2px 2px
}

.suitClubs:before, .suitClubs:after {
  content: "♣";
  color: #000;
}

.suitSpades{
	position: relative;
	float:left;
	width:100px;
	height:175px;
	border:1px solid;
	font-family: sans-serif;
	font-size: 82px;
	background-color: #F6F6F6;
	border-radius: 10%;
	box-shadow: 2px 2px
}

.suitSpades:before, .suitSpades:after {
  content: "♠";
  color: #000;
}

.card p{
	position: relative;
	text-align: center;
	top:-25%;

}


div[class*='suit']:before {
  position: absolute;
  font-size: 50px;
  left: 5px;
  top: 0px;
}
 
div[class*='suit']:after {
  position: absolute;
  font-size: 50px;
  right: 5px;
  bottom: 0px;
  transform: rotate(180deg);
}